.container {
    border: solid 2px black;
    height: 700px;
    width: 700px;
    margin: 100px auto 0;
    perspective: 1000px;
}
.katana {
    width: 100px;
    height: 100%;
    transform-style: preserve-3d;
    animation: justrotate 15s infinite linear;
    margin: 0 auto;
    transform: rotate(220deg)
    

}
.lame {
    position: relative;
    transform-style: preserve-3d;
}
.garde {
    position: relative;
    transform-style: preserve-3d;
}
.rondelle {
    position: relative;
    transform-style: preserve-3d;
}
.poignee {
    position: relative;
    transform-style: preserve-3d;
}
.lame > .face:nth-child(1){
    margin: 50px  auto 0;
}
.garde > .face:nth-child(1){
    margin: -5px auto 0;
}
.rondelle > .face:nth-child(1){
    margin: -5px auto 0;
}
.poignee > .face:nth-child(1){
    margin: -5px auto 0;
}

.lame > .front {
    height: 400px;
    width: 13px;
    border: solid 2px black;
    border-top-left-radius: 75%;
}

.rondelle > .front{
    height: 6px;
    width: 30px;
    border: solid 5px black;
border-bottom: solid 1px white;
    background-color: black;

    border-radius: 30%;
}

.garde > .front{
    height: 15px;
    width: 20px;
    background-color: white;
    border-radius: 3px;
    border: solid 3px black;
    
}
.poignee > .front{
    height: 150px;
    width: 20px;
    background-color: black;
    border-radius: 3px;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
#triangle-1 {
    margin: 0 auto;
    height: 0px;
    width: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid white;
  
}

#triangle-2 {
    margin: 0 auto; 

    height: 0px;
    width: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 6px solid white;
    transform: rotateX(180deg);
}

@keyframes justrotate {
    from {
        transform: rotateY(0deg);
    }to {
        transform: rotateY(360deg);
    }
}

.face {
    display: flex;
    justify-content: space-around;
    overflow: hidden;

}

.lame > .front > span  {
    width: 1%;
    height: 100%;
    /* border: solid 1px red; */
}

.lame > .front > span:nth-child(3)  {
    width: 10%;
    height: 100%;
    border-left: solid 2px black !important;
}
.lame > .front > div{
    width: 40%;
    height: 90%;
    /* border: solid 1px red !important; */
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}




.lame > .front > span:nth-child(1)  {
    width: 50%;
    height: 100%;
    background-color: black;
margin-right: -1.5px;
border-left: solid 5px black;

    /* border: solid 1px red !important; */
}
.cube{
    height: 4.5px;
    width: 2.px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    /* border: solid 1px cornflowerblue; */
    background-color: #FFFFFF;
    }

    .bout {
        height: 13px;
        width: 15px;
        border: solid 2px black;
        margin: -5px auto 0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }